{% extends '::base.html.twig' %}
{% block content %}
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Movimiento: Lista -> despacho</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Lista despachos</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arDespacho in arDespachos %}
                                <tr>
                                    <td>{{ arDespacho.codigoDespachoPk  }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-4 -->			
        </div><!-- /row -->
        <br />
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('tte_movimiento_despacho_nuevo', {'codigoDespacho': 0}) }}">Nuevo</a>                
            </div>            

        </div>         
    </section><! --/wrapper -->
{% endblock %}
